node-red-flow.txt
[{"id":"be335e34.61ad8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce57726e.c51c9","type":"mqtt in","z":"be335e34.61ad8","name":"Serial","topic":"Serial","qos":"2","datatype":"auto","broker":"a295a1ac.6cc42","x":130,"y":240,"wires":[["5a430a78.785ce4","73a6d598.78712c"]]},{"id":"aa759c30.90d63","type":"mqtt out","z":"be335e34.61ad8","name":"Mqtt output","topic":"PowerCycle","qos":"0","retain":"","broker":"a295a1ac.6cc42","x":410,"y":80,"wires":[]},{"id":"cbdfe960.2e8a88","type":"ui_switch","z":"be335e34.61ad8","name":"Power Cycle Switch","label":"Power cycle","tooltip":"","group":"3b2d27a.f1022d8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":170,"y":80,"wires":[["aa759c30.90d63"]]},{"id":"5a430a78.785ce4","type":"ui_text","z":"be335e34.61ad8","group":"a041a121.454ee","order":1,"width":"6","height":"1","name":"Serial","label":"Device UART output:","format":"{{msg.payload}}","layout":"col-center","x":270,"y":200,"wires":[]},{"id":"b19d4c40.52321","type":"mqtt in","z":"be335e34.61ad8","name":"Current","topic":"CurrentVoltage","qos":"2","datatype":"utf8","broker":"a295a1ac.6cc42","x":130,"y":340,"wires":[["67e28f19.11974","c547cf54.becdc"]]},{"id":"67e28f19.11974","type":"ui_text","z":"be335e34.61ad8","group":"8521a64e.1fe7d8","order":1,"width":"9","height":"1","name":"Current","label":"Device current consumption","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":320,"wires":[]},{"id":"472401d4.a561d8","type":"influxdb out","z":"be335e34.61ad8","influxdb":"c5d59709.8f3698","name":"Current and Voltage","measurement":"current","precision":"","retentionPolicy":"","x":740,"y":360,"wires":[]},{"id":"c547cf54.becdc","type":"function","z":"be335e34.61ad8","name":"Parse and split current and voltage data","func":"// Separate Device Id from data\nvar splittedPayload = msg.payload.split(\"&\");\nvar deviceId = splittedPayload[0];\nvar currentData = splittedPayload[1];\n\n// Separate data\nvar splittedCurrentData = currentData.split(\",\");\n\n// First object will be written in fields,\n// second one in tags\nmsg.payload = [{\n    maxCurrent: parseFloat(splittedCurrentData[0]),\n    minCurrent: parseFloat(splittedCurrentData[1]),\n    avgCurrent: parseFloat(splittedCurrentData[2]),\n    stdCurrent: parseFloat(splittedCurrentData[3]),\n    maxVoltage: parseFloat(splittedCurrentData[4]),\n    minVoltage: parseFloat(splittedCurrentData[5]),\n    avgVoltage: parseFloat(splittedCurrentData[6]),\n    stdVoltage: parseFloat(splittedCurrentData[7])\n},\n{\n    deviceId: deviceId,\n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":360,"wires":[["472401d4.a561d8"]]},{"id":"73a6d598.78712c","type":"function","z":"be335e34.61ad8","name":"Parse and split serial","func":"// Separate Device Id from data\nvar splittedPayload = msg.payload.split(\"&\");\n\nmsg.payload = {\n    deviceId: splittedPayload[0],\n    serial: splittedPayload[1],\n}\n\n// First object will be written in fields,\n// second one in tags\nmsg.payload = [{\n    serial: splittedPayload[1]\n    \n},\n{ \n    deviceId: splittedPayload[0]\n}]\n    \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["5dc240a8.9c72e8","d6f6784e.45af28"]]},{"id":"9fb9ea04.923aa8","type":"influxdb out","z":"be335e34.61ad8","influxdb":"c5d59709.8f3698","name":"Specific strings","measurement":"specificstring","precision":"","retentionPolicy":"","x":1000,"y":200,"wires":[]},{"id":"5dc240a8.9c72e8","type":"switch","z":"be335e34.61ad8","name":"Messages","property":"payload[0].serial","propertyType":"msg","rules":[{"t":"cont","v":"sleep_devices() - sleeping for 15s","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":240,"wires":[["d18bbc9c.9210c8"],[]]},{"id":"d18bbc9c.9210c8","type":"change","z":"be335e34.61ad8","name":"Notification string","rules":[{"t":"set","p":"payload[1].notificationString","pt":"msg","to":"sleep_devices() - sleeping for 15s","tot":"str"},{"t":"set","p":"payload[0].serial","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":200,"wires":[["9fb9ea04.923aa8"]]},{"id":"d6f6784e.45af28","type":"influxdb out","z":"be335e34.61ad8","influxdb":"c5d59709.8f3698","name":"General strings","measurement":"serial","precision":"","retentionPolicy":"","x":540,"y":180,"wires":[]},{"id":"e5fbe73f.4eda6","type":"comment","z":"be335e34.61ad8","name":"Add here specific strings","info":"","x":570,"y":280,"wires":[]},{"id":"6140d2e1.a85464","type":"comment","z":"be335e34.61ad8","name":"Add specific string as a tag for Influxdb","info":"","x":850,"y":240,"wires":[]},{"id":"a295a1ac.6cc42","type":"mqtt-broker","z":null,"name":"","broker":"192.168.13.130","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b2d27a.f1022d8","type":"ui_group","z":"","name":"Power-Cycle","tab":"7c3f12b3.41cf7c","order":3,"disp":true,"width":"6","collapse":false},{"id":"a041a121.454ee","type":"ui_group","z":"","name":"Serial","tab":"7c3f12b3.41cf7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8521a64e.1fe7d8","type":"ui_group","z":"","name":"Current","tab":"7c3f12b3.41cf7c","order":2,"disp":true,"width":"10","collapse":false},{"id":"c5d59709.8f3698","type":"influxdb","z":"","hostname":"192.168.13.130","port":"8086","protocol":"http","database":"Monitor","name":"Monitor","usetls":false,"tls":""},{"id":"7c3f12b3.41cf7c","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1,"disabled":false,"hidden":false}]